<h3>犬一覧</h3>
 <div class="center">
  <div class="row row-eq-height">

    
    <% @dogs.each do |dog| %>
    <!-- Cards -->
      <!-- Dogs -->
      <div class="col-md-3">
         <div class="card mb-3">
          <% if dog.image? %>
           <%= image_tag dog.image , class:"card-img-top" %>
          <% end %> 
          <div class="card-body">
            <h5 class="card-title"><%= dog.title %></h5>

            <p class="card-text">犬の説明</p>
            <p><%= link_to "詳細を見る", post_path(dog),class:"btn btn-primary" %></p>
              <div class="index_icons"> 
                <% if dog.likes.size >= 1 %>
                  <span class="fa fa-heart index_like-icon"></span><%= dog.likes.size %> 
                <% else %>
                  <span class="fa fa-heart index_like-icon_zero"></span><%= dog.likes.size %>
                <% end %>

                <span style="margin-right: 25px;"></span>

               <% if dog.comments.size >= 1 %>
                  <span class="fa fa-comments-o index_comments-icon"></span><%= dog.comments.size %>  
                <% else %>
                  <span class="fa fa-comments-o index_comments-icon_zero"></span><%= dog.comments.size %> 
                <% end %>
            </div>
          </div><!-- end of card body -->

        </div><!-- end of card -->
      </div><!-- end of col-3 -->
     <% end %> 

   </div><!-- end of row -->
  </div><!-- end of center -->

   <p><%= link_to "一覧に戻る", root_path,class:"btn btn-default" %></p>
 




<!-- このスクリプトは、bootatrapでドロップダウンなどを出すときに必要-->
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
         <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
         <script>
           $('.dropdown-toggle').dropdown()
  </script>

