<h3>ペットの種類一覧</h3>
<div class="center">
  <div class="row row-eq-height">


<!-- Cards -->
		<!-- Dogs -->
  	<div class="col-md-3">
       <div class="card mb-3">
			  <%= image_tag 'dogs.jpg', class:"card-img-top"%>
			  <div class="card-body">
			    <h4 class="card-title">犬</h4>
			    <p class="card-text">犬の説明</p>
			    <p><%= link_to "詳細を見る", categories_dogs_path,class:"btn btn-primary" %></p>
			  </div>
			</div>
    </div><!-- end of col-3 -->



    <!-- Cats -->
  	<div class="col-md-3">
       <div class="card mb-3">
			  <%= image_tag 'cats.png', class:"card-img-top"%>
			  <div class="card-body">
			    <h4 class="card-title">ネコ</h4>
			    <p class="card-text">ネコの説明</p>
			    <%= link_to "詳細を見る", categories_cats_path,class:"btn btn-primary" %>
			  </div>
			</div>
    </div><!-- end of col-3 -->

    <!-- Rabbits -->
  	<div class="col-md-3">
       <div class="card mb-3">
			  <%= image_tag 'rabbits.jpg', class:"card-img-top"%>
			  <div class="card-body">
			    <h4 class="card-title">ウサギ</h4>
			    <p class="card-text">ウサギの説明</p>
			    <%= link_to "詳細を見る", categories_rabbits_path,class:"btn btn-primary" %>
			  </div>
			</div>
    </div><!-- end of col-3 -->

    



  </div><!-- end of row row-eq-height -->
</div><!-- end of center -->
 