<!DOCTYPE html>
<html>
  <head>
    <title>Med Plus Master</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8"> <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    
   <%= render 'layouts/header' %>
    <div class="container">
       <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == "notice" ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">×</a> <!-- アラートダイアログに×ボタンをつける -->
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
