<!DOCTYPE html>
<html>
  <head>
    <title>Med Plus Master test</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Fabicon -->
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
    <!-- Raleway -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

  <body>

   <%= render 'layouts/header' %>
    <br>
    <div class="container">
       <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == "notice" ? "success" : "danger" %>">
          <a class="close" data-dismiss="alert">×</a> <!-- アラートダイアログに×ボタンをつける -->
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
